<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<style type="text/css">-->
    <!--body {-->
    <!--padding: 50px;-->
    <!--}-->

    <!--.table-books, .table-books td {-->
    <!--border: 1px solid lightgray;-->
    <!--padding: 5px;-->
    <!--}-->

    <!--label {-->
    <!--display: inline-block;-->
    <!--width: 200px;-->
    <!--}-->

    <!--.row {-->
    <!--margin-top: 10px;-->
    <!--}-->
    <!--</style>-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></link>

    <!--<script type="text/javascript" src="books.js"></script>-->
</head>
<body>
<p>
    <a th:href="@{/}" href="index.html">главное меню</a>
</p>
<h1>Таблица оборудования</h1>
<p>
<div id="editTable"></div>
</p>
<!--<div id="bookTable"></div>-->
<!--<form id="adding-form" action="/books.html">-->
<!--<h3>Добавить устройство:</h3>-->

<!--<div class="row">-->
<!--<label for="bookTitle-input">Название:</label>-->
<!--<input id="bookTitle-input" type="text"/>-->
<!--</div>-->

<!--<div class="row">-->
<!--<label for="authorName">Модель:</label>-->
<!--<input id="authorName" type="text"/>-->
<!--</div>-->

<!--<div class="row">-->
<!--<label for="authorLastName">Серийный номер:</label>-->
<!--<input id="authorLastName" type="text"/>-->
<!--</div>-->

<!--<div class="row">-->
<!--<label for="genre">Инвентарный номер:</label>-->
<!--<input id="genre" type="text"/>-->
<!--</div>-->

<!--<div class="row">-->
<!--<button type="submit">Сохранить</button>-->
<!--</div>-->
<!--</form>-->
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Модель</th>
        <th>Описание</th>
        <th>s\n</th>
        <th>i\n</th>
        <th>Контракт</th>
        <th>В наличии</th>
        <th>Текущее местонахождение</th>
        <th>Планируемое</th>
        <th>Смонтировано</th>
        <th>Комментарий</th>
        <th>Обсуждение</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr th:each="book : ${books}">-->
        <!--<td width="30" th:text="${book.id}" th:id="book" >1</td>-->
        <!--<td width="150 " th:text="${book.title}" >Foo</td>-->
        <!--<td width="150 " th:text="${book.author.firstName}" >John</td>-->
        <!--<td width="150" th:text="${book.author.lastName}" >Doe</td>-->
        <!--<td width="100" th:text="${book.genre.name}" >fantasy</td>-->
        <!--<td width="50"  ><a th:href="'javascript:editBook(' + ${book.id} + ');'" >Изменить</a></td>-->
        <!--<td width="50"  ><a th:href="'javascript:deleteBook(' + ${book.id} + ');'">Х</a>-->
        <!--</td>-->
    <!--</tr>-->
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script  type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({

            ajax: {
                url : "api/devices",
                type : "GET",
                dataSrc : ""
            },
            columns: [
                {"data" : "id"},
                {"data" : "name"},
                {"data" : "model"},
                {"data" : "description"},
                {"data" : "serialNumber"},
                {"data" : "inventoryNumber"},
                {"data" : "contractName"},
                {"data" : "isInStock"},
                {"data" : "currentLocation"},
                {"data" : "plannedLocation"},
                {"data" : "isMounted"},
                {"data" : "comment"},
                {"data" : "discussion"}
            ]
        });
    });
</script>
</body>
</html>
